* {
  box-sizing: border-box;
}
body {
  background-color: #d8d8d8;
}
main {
  background-color: #d8d8d8;
  width: 960px;
  height: 100vh;
  margin: auto;
}

header {
  background-color: #444444;
  width: 90%;
  min-height: 20vh;
  margin: auto;
}

.col-1 {
  background-color: #efefef;
  width: 60%;
  height: 70vh;
  margin: auto;
}

footer {
  background-color: #222222;
  width: 60%;
  min-height: 10vh;
  margin: auto;
}
